body
      {
        background-image: url("https://klike.net/uploads/posts/2019-06/1561182942_2.jpg");
      }  
form
{
    color: #FFFFFF;
}
button
{
    color: #FFFFFF;
}
    @media (max-width: 992px) {
	body{
		margin-right: 15px;
		margin-bottom: 15px;
	}
